{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
    <script>
        // Added this code to invalidate size and change fit bounds on the map
        // when it's in a collapsible admin section, as it is by default for
        // lots. If you don't invalidateSize, most of the map will be gray.
        $(document).ready(function () {
            // Wait for django-leaflet to load map
            window.addEventListener('map:init', function (e) {
                var map = e.detail.map;

                // When a field is loaded, hold onto that field and wait for
                // the toggle to be clicked
                map.on('map:loadfield', function (e) {
                    var geometryField = e.field;
                    $('.collapse-toggle').click(function () {
                        map.invalidateSize();
                        map.fitBounds(geometryField.drawnItems.getBounds());
                    });
                });
            });

            var url = Django.url('lots:lot_is_visible', { pk: {{ original.pk }} });
            $.getJSON(url, function (data) {
                if (!data.is_public) {
                    $.each(data.validations, function (i, validation) {
                        $('.visibility-validations ul').append($('<li></li>').text(validation));
                    });
                    $('.visibility-validations').show();
                }
            });
        });
    </script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}

    <style>
        .visibility-validations {
            border: 1px solid red;
            display: none;
            font-size: 16px;
            margin-bottom: 30px;
            margin-top: 10px;
            padding: 10px;
        }

        .visibility-validations li {
            font-size: 14px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="visibility-validations">
        This lot will not appear publicly. Fix the following to make it appear publicly:
        <ul></ul>
    </div>
    {{ block.super }}
{% endblock %}
