{% load feincms_tags %}

<footer>
    <div class="footer-main-wrapper">
        <div class="footer-main">
            {% feincms_render_region feincms_page "footer_main" request %}
        </div>
    </div>
    <div class="footer-middle">
        <div class="footer-middle-left">
            {% feincms_render_region feincms_page "footer_left" request %}
        </div>
        <div class="footer-middle-right">
            {% feincms_render_region feincms_page "footer_right" request %}
        </div>
    </div>
    <div class="footer-bottom-wrapper">
        <div class="footer-bottom">
            {% feincms_render_region feincms_page "footer_bottom" request %}
        </div>
    </div>
</footer>
