{% load feincms_tags feincms_page_tags i18n static %}

<header class="page-header">
    <div class="visible-print" style="margin-left: 30px; margin-top: 15px; font-size: 30px; line-height: 30px;">
        {{ project_name }}
    </div>

    <nav class="navbar navbar-default hidden-print" role="navigation">

        <div class="navbar-header">
            <div class="page-header-home-link">
                <a href="/">
                    <img src="{% static "img/logo.png" %}" />
                    <h1 style="display: none;">{% trans "Living Lots NYC" %}</h1>
                </a>
            </div>

            <div class="navbar-toggle-wrapper">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                {% feincms_nav feincms_page level=2 depth=1 as mainmenu %}
                {% for page in mainmenu %}
                    <li class="mainmenu-item">
                        {% feincms_nav page level=3 depth=1 as submenu %}
                        {% if submenu %}
                            {# Don't link to top-level items with subpages #}
                            <a class="mainmenu-item-parent">{{ page.title }}</a>
                            <ul class="submenu">
                                {% for submenupage in submenu %}
                                    <li>
                                        <a href="{{ submenupage.get_absolute_url }}">{{ submenupage.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if user.is_superuser %}
                    <li>
                        <a href="/extra-admin/">{% trans "Admin" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
