{% load feincms_tags feincms_page_tags i18n static %}

<header class="page-header">
    <div class="visible-print" style="margin-left: 30px; margin-top: 15px; font-size: 30px; line-height: 30px;">
        {{ project_name }}
    </div>

    <nav class="navbar navbar-default hidden-print" role="navigation">

        <div class="navbar-header">
            <div class="page-header-home-link">
                <a href="/">
                    <img src="{% static "img/logo.png" %}" />
                    <h1 style="display: none;">{% trans "SITE NAME" %}</h1>
                </a>
            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                {% feincms_nav feincms_page level=2 depth=1 as mainmenu %}
                {% for page in mainmenu %}
                <li {% ifequal page feincms_page %}class="active"{% endifequal %}>
                        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
                {% if user.is_superuser %}
                    <li>
                        <a href="/extra-admin/">Admin</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
