{% load js static %}

<link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{% static "css/style.min.css" %}">

{% django_js jquery=false i18n=false csrf=false %}

<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

{# Load requirejs main, built if in production #}
{% if not debug %}
    <script src="{% static "main-built.js" %}"></script>
{% else %}
    <script src="{% static "js/bundle.js" %}"></script>
{% endif %}
