footer {
    background: @black;
    color: white;
    padding: 50px;

    @media (max-width: @screen-xs-max) {
        padding: @xs-padding;
    }

    a {
        &:link, &:visited, &:hover, &:active {
            color: white;
            text-decoration: underline;
        }
    }

    .footer-main,
    .footer-bottom {
        .make-md-column(8);
        .make-md-column-offset(2);
        text-align: center;

        &-wrapper {
            .make-row(0);
        }
    }

    .footer-middle {
        .make-row();
        margin-bottom: 25px;
        margin-top: 25px;

        &-left {
            .make-sm-column(2);
            .make-sm-column-offset(2);
            .make-lg-column(1);
            .make-lg-column-offset(3);
            white-space: nowrap;
        }

        &-right {
            .make-sm-column(4);
        }
    }
}
