.page-header {
    margin-top: 25px;

    &-home-link img {
        margin-left: 35px;
        max-width: 500px;
    }

    .navbar-nav {
        font-size: 24px;
        margin-left: 20px;

        > li > a {
            line-height: 75px;
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}
