#lot-detail-map {
    border: 2px solid #58595b;
    cursor: pointer;
    height: 150px;
    margin-top: -100px;
    width: 100%;
    z-index: 500;
}

.lot-detail {
    &-page h1 {
        .header-font();
        font-size: 28px;
        margin-top: 15px;
    }

    &-page .postal-code {
        font-size: 20px;
        margin-left: 10px;
    }

    &-page h2 {
        .header-font();
        font-size: 22px;
        margin-top: 15px;
    }

    &-page .alert {
        margin-top: 20px;
    }

    &-section {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    &-actions .btn {
        margin-right: 15px;
        margin-top: 10px;
    }

    &-organizers h2 {
        background: @fill-color;
        color: @foreground-color;
        padding-left: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    &-page article {
        padding-top: 0;
    }

    &-header-image {
        width: 100%;
        height: 300px;
        margin-top: 15px;
        transition: height 0.5s ease;

        &.no-streetview {
            height: 100px;
        }
    }

    &-header-streetview-error {
        display: none;
        float: left;
        margin-left: 25%;
    }

    &-info-box {
        background-color: @fill-color;
        margin-top: 15px;
        padding: 10px;
    }

    .lot-add-page h1 {
        .header-font();
        font-size: 56px;
        margin: 0;
        text-transform: uppercase;
    }

    &-organizer-intro h3 {
        .header-font();
        color: @brand-primary;
        margin: 0;
        text-transform: uppercase;
    }

    &-organizers {
        .block-lot-detail-organizer-intro {
            font-size: 14px;
        }

        .organizer-list {
            &-private {
                display: none;
            }
        }
    }

    &-stewardproject {
        &-organizer-name {
            .user-content-added-by-name();
        }

        &-row {
            .make-row(0);
        }

        &-left {
            .make-sm-column(6, 0);
        }

        &-right {
            .make-sm-column(6);
        }

        &-facebook-feed {
            border: none;
            overflow: hidden;
            width: 100%;
            height: 395px;
        }
    }

}

.nearby-lots-list {
    list-style: none;
    padding-left: 0;

    &-item {
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
