#mc_embed_signup {
    label {
        display: block;
        font-size: 28px;
    }

    .form-row {
        .make-row(0);
    }

    .email {
        font-size: 22px;
        padding: 5px;
        max-width: 100%;
        .make-md-column(7);
    }

    .btn {
        border: 1px solid white;
        font-size: 22px;
        .make-md-column(5);
    }
}
