.map-page {
    #map {
        width: 100%;
        height: 500px;
    }

    .map-header {
        .hidden-xs();
        background-color: @cream;
        padding-top: 15px;

        &-content {
            .make-row(0);
        }

        &-currently-viewing {
            .make-md-column(4);
            padding-left: @header-left-padding;

            h2 {
                margin: 0;
            }

            ul {
                margin-bottom: 5px;
                margin-top: 5px;
                padding-left: 20px;
            }
        }
    }
}

.overlay-admin-button {
    margin-top: 5px;
}

.btn-show-details {
    .make-md-column(4);
    .button-variant(@foreground-color; white; @foreground-color);
}

.details-container {
    display: none;
    margin-top: 15px;
}

.overlaymenu {
    &-admin .overlaymenu-menu-content {
        min-height: 10px;
    }

    &-details,
    &-filter,
    &-news {
        width: 350px;
    }

    &-details .overlaymenu-tip-container,
    &-filter .overlaymenu-tip-container,
    &-news .overlaymenu-tip-container {
        left: 140px;
    }

    &-news .activity-stream-container {
        min-height: 200px;
    }

    &-details {
        .details-actions {
            .make-row(0);
            display: block;
            margin-left: 8%;
        }

        .details-show-owners {
            .btn-show-details();
        }

        .details-show-organizing {
            .btn-show-details();
        }

        .details-overview {
            min-height: 100px;
            width: 100%;

            .details-layer-list {
                list-style: none;
                padding-left: 0;

                &-item {
                    margin-bottom: 15px;
                }
            }

            .details-owner-list {
                .details-container();
            }

            .details-organizing {
                .make-row(0);
                .details-container();

                &-text {
                    .make-md-column(10);
                    .make-md-column-offset(1);
                }
            }
        }
    }
}
