.header-font {
    font-family: @header-font-family;
    font-weight: bold;
}

.user-content-list {
    list-style: none;
    padding: 0;
}

.user-content-list-item {
    padding-top: 35px;

    // Ensure that hover will keep the actions visible
    margin-left: -@user-content-actions-width;
    padding-left: @user-content-actions-width;

    &:last-of-type {
        .user-content-separator {
            display: none;
        }
    }

    &:hover .user-content-actions {
        display: block;
    }
}

.user-content-added {
    .pull-right();
    font-size: 12px;
}

.user-content-added-by {
}

.user-content-added-by-name {
    .header-font();
    color: #58595b;
    font-size: 22px;
    line-height: 22px;
}

.user-content-content {
    display: block;
}

.user-content-meta {
}
