.header-font {
    font-family: @header-font-family;
    font-weight: bold;
}

.user-content-list {
    list-style: none;
    padding: 0;
}

.user-content-list-item {
    border-bottom: 1px solid darken(@fill-color, 20%);
    margin-top: 35px;
    padding-bottom: 35px;

    &:last-of-type {
        border-bottom: none;
    }
}

.user-content-added {
    .pull-right();
    font-size: 12px;
}

.user-content-added-by {
}

.user-content-added-by-name {
    .header-font();
    color: #58595b;
    font-size: 22px;
    line-height: 22px;
}

.user-content-content {
    display: block;
}

.user-content-meta {
}
