@overlaymenu-bg-color: @fill-color;
@overlaymenu-border-color: @foreground-color;

.overlaymenu {
    background: @fill-color;
    border: 3px solid @overlaymenu-border-color;
    display: none;
    padding: 15px;
    position: absolute;
    width: 250px;
    z-index: 5005;
}

.overlaymenu h2 {
    .header-font();
    font-size: 28px;
    margin-top: 15px;
    text-transform: uppercase;
}

.overlaymenu-tip-container {
    display: block;
    margin: 0 auto;
    margin-top: -31px;
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
    z-index: 5009;
    left: 97px;
}

.overlaymenu-tip {
    background: @overlaymenu-bg-color;
    border: 3px solid @overlaymenu-border-color;
    border-bottom: 0;
    border-right: 0;
    display: block;
    padding: 10px;
    width: 28px;
    height: 28px;
    margin: 0 auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 5010;
}

.overlaymenu-menu-content {
    max-height: 400px;
    min-height: 150px;
    overflow-y: auto;
}
