@welcome-text-color: white;

.map-welcome {
    background-image: url('../img/welcome_texture.png');
    background-size: cover;
    color: @welcome-text-color;

    @media (max-width: @screen-xs-max) {
        background-image: none;
        background-color: @green;
    }

    h1 {
        .header-font();
        cursor: pointer;
        font-size: 28px;
        font-style: italic;
        margin: 0;
        padding-left: @header-left-padding;

        @media (max-width: @screen-xs-max) {
            padding-left: @xs-padding;
        }
    }

    &-close-button,
    &-close-button:active,
    &-close-button:hover,
    &-open-button,
    &-open-button:active,
    &-open-button:hover {
        color: @welcome-text-color;
        font-family: Arial, sans-serif;
        font-size: 18px;
        font-style: normal;
        margin-left: -25px;
        text-decoration: none;
    }

    &.closed .map-welcome-close-button {
        display: none;
    }

    .map-welcome-open-button {
        display: none;
    }

    &.closed .map-welcome-open-button {
        display: inline-block;
    }

    &-body {
        font-size: 16px;
        padding-bottom: 10px;
        padding-left: @header-left-padding;
        padding-right: 35px;

        @media (max-width: @screen-xs-max) {
            padding-left: @xs-padding;
            padding-right: @xs-padding;
        }
    }
}
