<div id="mc_embed_signup">
    <form action="http://livinglotsnola.us7.list-manage.com/subscribe/post?u={{ signup.user_id }}&amp;id={{ signup.list_id }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_43274ace6c62a28f43273d517_7744202aac" value=""></div>
        <label for="mce-EMAIL">{{ signup.header_text }}</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <input type="submit" value="{{ signup.button_text }}" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default">
    </form>
</div>
