{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ content_object.display_name|title|default:"unknown" }} |
    {% trans "Living Lots NYC" %}
{% endblock %}

{% block body_class %} lot-add-page {% endblock %}

{% block breadcrumbs_wrapper %}
    <ul class="breadcrumb">
        <li>
            <a href="/">{% trans "Home" %}</a>
        </li>
        <li>
            <a href="{{ content_object.get_absolute_url }}">
                {{ content_object.display_name|title|default:"unknown" }}
            </a>
        </li>
        {% block breadcrumbs %}{% endblock %}
    </ul>
{% endblock %}
