{% load i18n usercontent_tags %}

<div class="file">
    <div class="file-meta">
        <div class="file-added">
            {{ file.added }}
        </div>
        <div class="file-added-by">
            <span class="file-added-by-name">
                {{ file.added_by_name }}
            </span>
            <span class="file-added-by-verb">
                {% trans "uploaded" %}
            </span>
        </div>
    </div>
    <div class="file-details">
        <span class="file-title">
            <a href="{{ file.document.url }}">
                {{ file.title }}
            </a>
        </span>
        <span class="file-description">
            {{ file.description }}
        </span>
    </div>

    {% admin_actions file %}
</div>
