{% load i18n %}

<script id="details-template" type="text/x-handlebars-template">
    {% verbatim %}
        <ul class="details-layer-list">
            {{#each lottypes}}
                <li class="details-layer-list-item">
                    <span class="legend-marker legend-marker-{{type}}"></span>
                    {{label}}:
                    <span class="details-total">
                        {{total}} sites,
                        <a href="#" class="details-area-compare-tooltip" data-placement="bottom" data-toggle="tooltip" title="{{compare comparable}}">
                            {{pick-area acres sqft}}
                        </a>
                    </span>
                    <div class="details-actions" data-toggle="buttons">
                        <label class="details-show-owners details-show-owners-{{type}} btn btn-xs">
                            <input type="checkbox" autocomplete="off" data-type="{{type}}">
                            owners
                        </label>
                        <label class="details-show-organizing details-show-organizing-{{type}} btn btn-xs">
                            <input type="checkbox" autocomplete="off" data-type="{{type}}">
                            organizers
                        </label>
                    </div>
                    <ul class="details-owner-list details-owner-list-{{type}}">
                        {{#each owners}}
                            <li>
                                {{name}}: {{count}} sites,
                                <a href="#" class="details-area-compare-tooltip" data-placement="bottom" data-toggle="tooltip" title="{{compare comparable}}">
                                    {{pick-area acres sqft}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                    <div class="details-organizing details-organizing-{{type}}">
                        <div class="details-organizing-text">
                            <img src="/static/img/action_star_small.png" />
                            organizing: {{organizing.count}} sites,
                            <a href="#" class="details-area-compare-tooltip" data-placement="bottom" data-toggle="tooltip" title="{{compare comparable}}">
                                {{pick-area organizing.acres organizing.sqft}}
                            </a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    {% endverbatim %}
</script>

<div class="overlaymenu-tip-container hidden-print">
    <div class="overlaymenu-tip"></div>
</div>

<div class="overlaymenu-menu-content">
    <section class="details-overview"></section>

    <section class="details-buttons hidden-print">
        <a class="details-button details-link btn btn-default btn-block" target="_blank" href="#">
            {% trans "Link to this view" %}
        </a>
        <a class="details-button details-print btn btn-default btn-block" href="#">
            {% trans "Print" %}
        </a>
    </section>
</div>
