{% load boundaries_tags citycouncildistricts_tags communitydistricts_tags i18n owners_tags %}

<div class="overlaymenu-tip-container">
    <div class="overlaymenu-tip"></div>
</div>
<div class="overlaymenu-menu-content">
    <section class="filter-section filter-section-owners">
        <ul class="filter-owner-list">
            <li class="filter-owner">
                <input id="owner-type-public" type="checkbox" class="filter filter-owner-type" name="public" checked />
                <label class="filter-owner-label" for="owner-type-public">
                    {% trans "public land" %}
                </label>

                <select class="filter filter-owner-public form-control">
                    <option value="">all owners</option>

                    {% get_owners type "public" True as owners %}
                    {% for owner in owners %}
                        <option value="{{ owner.pk }}" data-name="{{ owner.name }}">
                            {{ owner.name }}
                        </option>
                    {% endfor %}
                </select>
            </li>
            <li class="filter-owner">
                <input id="owner-type-private" type="checkbox" class="filter filter-owner-type" name="private_opt_in" checked />
                <label class="filter-owner-label" for="owner-type-private">
                    {% trans "private land" %}
                </label>

                {% get_owners type "private" True as owners %}
                {% if owners %}
                    <select class="filter filter-owner-private form-control">
                        <option value="">all owners</option>

                        {% for owner in owners %}
                            <option value="{{ owner.pk }}" data-name="{{ owner.name }}">
                                {{ owner.name }}
                            </option>
                        {% endfor %}
                    </select>
                {% endif %}
            </li>
        </ul>
    </section>

    <section class="filter-section filter-section-types">
        <div>
            <input id="layer-organizing" type="checkbox" class="filter filter-layer" name="organizing" checked />
            <label class="filter-label" for="layer-organizing">
                {% trans "land where people are organizing" %}
            </label>
        </div>

        <div>
            <input id="layer-in-use" type="checkbox" class="filter filter-layer" name="in_use" checked />
            <label class="filter-label" for="layer-in-use">
                {% trans "land where people have access" %}
            </label>
        </div>

        <div>
            <input id="layer-no-people" type="checkbox" class="filter filter-layer" name="no_people" checked />
            <label class="filter-label" for="layer-no-people">
                {% trans "vacant land with no people involved" %}
            </label>
        </div>

        <div>
            <input id="layer-started-here" type="checkbox" class="filter filter-layer" name="in_use_started_here" checked />
            <label class="filter-label" for="layer-started-here">
                {% trans "596 Acres network" %}
            </label>
        </div>

        <div>
            <input id="layer-gutterspace" type="checkbox" class="filter filter-layer" name="gutterspace" />
            <label class="filter-label" for="layer-gutterspace">
                {% trans "gutterspaces" %}
            </label>
        </div>
    </section>

    <section class="filter-section filter-section-boundaries">
        {% all_boundaries "city council districts" as ccs %}
        {% if ccs %}
            <label for="city-council-districts">city council districts</label>
            <select id="city-council-districts" name="city-council-districts" class="form-control filter-boundaries filter-city-council-districts" data-layer="city council districts">
                <option value="">all</option>
                {% sort_city_council_districts ccs as sorted_ccs %}
                {% for cc in sorted_ccs %}
                    <option value="{{ cc.pk }}">{{ cc.label }}</option>
                {% endfor %}
            </select>
        {% endif %}

        {% all_boundaries "community districts" as cds %}
        {% if cds %}
            <label for="community-districts">community districts</label>
            <select id="community-districts" name="community-districts" class="form-control filter-boundaries filter-community-districts" data-layer="community districts">
                <option value="">all</option>
                {% for cd in cds %}
                    <option value="{{ cd.pk }}">{{ cd.label|community_district_label }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </section>
</div>
