{% load i18n owners_tags %}

<div class="overlaymenu-tip-container">
    <div class="overlaymenu-tip"></div>
</div>
<div class="overlaymenu-menu-content">
    <section class="filter-section filter-section-owners">
        <ul class="filter-owner-list">
            <li class="filter-owner">
                <input id="layer-public" type="checkbox" class="filter filter-layer" name="public" checked />
                <label class="filter-owner-label" for="layer-public">
                    {% trans "public land" %}
                </label>

                <select class="filter filter-owner-public form-control">
                    <option value="">all owners</option>

                    {% get_owners type "public" True as owners %}
                    {% for owner in owners %}
                        <option value="{{ owner.pk }}" data-name="{{ owner.name }}">
                            {{ owner.name }}
                        </option>
                    {% endfor %}
                </select>
            </li>
            <li class="filter-owner">
                <input id="layer-private" type="checkbox" class="filter filter-layer" name="private_opt_in" checked />
                <label class="filter-owner-label" for="layer-private">
                    {% trans "private land" %}
                </label>
            </li>
        </ul>
    </section>

    <section class="filter-section filter-section-types">
        <div>
            <input id="layer-organizing" type="checkbox" class="filter filter-layer" name="organizing" checked />
            <label class="filter-label" for="layer-organizing">
                {% trans "land where people are organizing" %}
            </label>
        </div>

        <div>
            <input id="layer-access" type="checkbox" class="filter filter-layer" name="access" checked />
            <label class="filter-label" for="layer-access">
                {% trans "land where people have access" %}
            </label>
        </div>

        <div>
            <input id="layer-no-people" type="checkbox" class="filter filter-layer" name="no-people" checked />
            <label class="filter-label" for="layer-no-people">
                {% trans "vacant land with no people involved" %}
            </label>
        </div>

        <div>
            <input id="layer-596-facilitated" type="checkbox" class="filter filter-layer" name="596-facilitated" checked />
            <label class="filter-label" for="layer-596-facilitated">
                {% trans "596 Acres network" %}
            </label>
        </div>

        <div>
            <input id="layer-gutterspace" type="checkbox" class="filter filter-layer" name="gutterspace" />
            <label class="filter-label" for="layer-gutterspace">
                {% trans "gutterspaces" %}
            </label>
        </div>
    </section>

    <section class="filter-section filter-section-boundaries">
    </section>
</div>
