{% load boundaries_tags citycouncildistricts_tags communitydistricts_tags i18n owners_tags %}

<div class="overlaymenu-tip-container">
    <div class="overlaymenu-tip"></div>
</div>
<div class="overlaymenu-menu-content">
    <section class="filter-section filter-section-owners">
        <ul class="filter-owner-list">
            <li class="filter-owner">
                <input id="owner-type-public" type="checkbox" class="filter filter-owner-type" name="public" checked />
                <label class="filter-owner-label" for="owner-type-public">
                    {% trans "public land" %}
                </label>

                {% get_owners type "public" True True as owners %}
                {% if owners %}
                    <select class="filter filter-owner-public form-control">
                        <option value="">{% trans "all owners" %}</option>
                        {% include "livinglots/lots/_filters_owner_options.html" with owners=owners %}
                    </select>
                {% endif %}
            </li>
            <li class="filter-owner">
                <input id="owner-type-private" type="checkbox" class="filter filter-owner-type" name="private_opt_in" checked />
                <label class="filter-owner-label" for="owner-type-private">
                    {% trans "private land" %}
                </label>

                {% get_owners type "private" True True as owners %}
                {% if owners %}
                    <select class="filter filter-owner-private form-control">
                        <option value="">{% trans "all owners" %}</option>
                        {% include "livinglots/lots/_filters_owner_options.html" with owners=owners %}
                    </select>
                {% endif %}
            </li>
        </ul>
    </section>

    <section class="filter-section filter-section-types">
        <div>
            <input id="layer-organizing" type="checkbox" class="filter filter-layer" name="organizing" checked />
            <label class="filter-label" for="layer-organizing">
                {% trans "land where people are organizing" %}
            </label>
        </div>

        <div>
            <input id="layer-in-use" type="checkbox" class="filter filter-layer" name="in_use" checked />
            <label class="filter-label" for="layer-in-use">
                {% trans "land where people have access" %}
            </label>
        </div>

        <div>
            <input id="layer-no-people" type="checkbox" class="filter filter-layer" name="no_people" checked />
            <label class="filter-label" for="layer-no-people">
                {% trans "vacant land with no people involved" %}
            </label>
        </div>

        <div>
            <input id="layer-started-here" type="checkbox" class="filter filter-layer" name="in_use_started_here" checked />
            <label class="filter-label" for="layer-started-here">
                {% trans "596 Acres network" %}
            </label>
        </div>

        <div>
            <input id="layer-gutterspace" type="checkbox" class="filter filter-layer" name="gutterspace" />
            <label class="filter-label" for="layer-gutterspace">
                {% trans "gutterspaces" %}
            </label>
            <a href="http://596acres.org/gutterspaces/" target="_blank">?</a>
        </div>
    </section>

    <section class="filter-section filter-section-boundaries">

        {% all_boundaries "boroughs" as boroughs %}
        {% if boroughs %}
            <div class="filter-section-boundaries-item">
                <label for="boroughs">{% trans "boroughs" %}</label>
                <select id="boroughs" name="boroughs" class="form-control filter-boundaries filter-boroughts" data-layer="boroughs">
                    <option value="">{% trans "all" %}</option>
                    {% for borough in boroughs %}
                        <option value="{{ borough.pk }}">{{ borough.label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% all_boundaries "city council districts" as ccs %}
        {% if ccs %}
            <div class="filter-section-boundaries-item">
                <label for="city-council-districts">{% trans "city council districts" %}</label>
                <select id="city-council-districts" name="city-council-districts" class="form-control filter-boundaries filter-city-council-districts" data-layer="city council districts">
                    <option value="">{% trans "all" %}</option>
                    {% sort_city_council_districts ccs as sorted_ccs %}
                    {% for cc in sorted_ccs %}
                        <option value="{{ cc.pk }}">{{ cc.label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% all_boundaries "community districts" as cds %}
        {% if cds %}
            <div class="filter-section-boundaries-item">
                <label for="community-districts">{% trans "community districts" %}</label>
                <select id="community-districts" name="community-districts" class="form-control filter-boundaries filter-community-districts" data-layer="community districts">
                    <option value="">{% trans "all" %}</option>
                    {% for cd in cds %}
                        <option value="{{ cd.pk }}">{{ cd.label|community_district_label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </section>

    {% if "lots.change_lot" in perms %}
        <section class="filter-section filter-admin">
            <input id="nycha" type="checkbox" class="filter filter-nycha" name="nycha" />
            <label class="filter-nycha-label" for="nycha">
                {% trans "NYCHA developments" %}
            </label>
        </section>
    {% endif %}
</div>
