{% load blog_widgets feincms_tags i18n inplace_tags static %}

<script id="popup-template" type="text/x-handlebars-template">
    {% verbatim %}
        <section class="lotpopup">
            <header>
                <a target="_blank" href="{{url}}">{{name}}</a>
            </header>
            <div class="row">
                <div class="popup-streetview">
                    <div>
                        <img src="https://maps.googleapis.com/maps/api/streetview?key=AIzaSyBpIxOzn6PE3iJDmsWZEosHcDRmn2nfzJ0&location={{centroid.y}},{{centroid.x}}&size=105x110&sensor=false&fov=45" />
                    </div>
                </div>
                <div class="popup-lot-details">
                    {{#if part_of_group}}
                        <div class="lot-count">
                            {{number_of_lots}} lots
                        </div>
                    {{/if}}
                    <div class="size">{{area_acres}} acres</div>
                    <div class="owner">Owned by <span class="owner-value">{{owner}}</span></div>
                    <a target="_blank" href="{{url}}" class="btn btn-default">learn more</a>
                </div>
            </div>
        </section>
    {% endverbatim %}
</script>

<section class="map-welcome hidden-print">
    <h1 class="map-welcome-toggle">
        <a href="#" class="map-welcome-close-button">▼</a>
        <a href="#" class="map-welcome-open-button">►</a>
        {% trans "Welcome!" %}
    </h1>
    <div class="map-welcome-body">
        {% feincms_render_region feincms_page "welcome" request %}
    </div>
</section>

<div class="map-header" class="hidden-print">
    <div class="map-header-content">
        <div class="map-header-currently-viewing">
            <h2>{% trans "You are currently viewing" %}</h2>
            <ul>
                <li>
                    <span id="no-known-use-acres"></span>
                    <span>{% trans "acres of opportunity on" %}</span>
                    <span id="no-known-use-count"></span>
                    <span>{% trans "sites" %}</span>
                </li>
                <li>
                    <span id="in-use-acres"></span>
                    <span>{% trans "acres of community projects on" %}</span>
                    <span id="in-use-count"></span>
                    <span>{% trans "sites" %}</span>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="map-header-actions">
            <a class="btn btn-default overlay-details-button btn-block" href="#">
                {% trans "details" %}
            </a>
            <a class="btn btn-default overlay-download-button btn-block" href="#">
                {% trans "download" %}
            </a>
        </div>

        <div class="map-header-search">
            <div class="map-search">
                <form class="map-search-form" data-bounds="[-74.304657,40.476203,-73.678436,40.939452]" data-city="New York" data-state="NY" data-error-message="{% trans "Could not find your location. Try again?" %}" data-warning-selector="map-search.warning" data-lot-search-url="{% url "lots:search" %}">
                    <input class="form-control" id="search" name="search" placeholder="{% trans "Search by address, zip code" %}" type="text" />
                    <button class="map-search-submit btn btn-default" type="submit">{% trans "GO" %}</button>
                    <div class="warning" style="display: none;"></div>
                </form>
            </div>

            {% if user.is_superuser %}
                <div class="row">
                    <a class="overlay-admin-button btn btn-warning" href="#">
                        {% trans "admin" %}
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="map-header-filter">
            <a class="btn btn-default overlay-filter-button" href="#">
                {% trans "filter" %}
            </a>
        </div>
        <div class="map-header-news">
            <div class="overlay-news-button-background"></div>
            <a class="btn btn-default overlay-news-button" href="#">
                {% trans "organizing updates" %}
            </a>
        </div>
    </div>
</div>

<div id="map"
    data-l-zoom="11"
    data-l-max-zoom="19"
    data-l-center="[40.73, -73.99]"
    data-l-loading-control="true"
    data-l-scroll-wheel-zoom="false"

    data-l-lot-centroids-url="{% inplace_setting LOT_CENTROIDS_URL %}"
    data-l-lot-polygons-url="{% inplace_setting LOT_POLYGONS_URL %}"

    data-l-parcels-url="{% inplace_setting PARCELS_URL %}"

    data-l-add-lot-parent=".map-add-lot-parent"
    data-l-mail-parent=".map-mail-parent"
>

    <div class="map-add-lot-parent"></div>
    <div class="map-mail-parent"></div>

    <a class="visible-xs btn btn-default overlay-filter-button hidden-print" href="#">
        {% trans "filter" %}
    </a>

    <div class="legend">
        <div>
            <span class="legend-marker legend-marker-public"></span>
            <label class="legend-label">
                {% trans "vacant public land" %}
            </label>
        </div>
        <div>
            <span class="legend-marker legend-marker-private"></span>
            <label class="legend-label">
                {% trans "private land opportunities" %}
            </label>
        </div>
        <div>
            <span class="legend-marker legend-marker-project"></span>
            <label class="legend-label">
                {% trans "people have access" %}
            </label>
        </div>
        <div>
            <span class="legend-marker legend-marker-organized"></span>
            <label class="legend-label legend-label-organized">
                {% trans "people are organizing" %}
            </label>
        </div>
    </div>
</div>

<div class="overlaymenu overlaymenu-details hidden-print">
    {% include "livinglots/lots/details.html" %}
</div>

<div class="overlaymenu overlaymenu-download">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>

    <div class="overlaymenu-menu-content">
        <section style="margin-bottom: 10px;">
            {% blocktrans %}
                Download currently viewed lots. GeoJSON and KML are mapping 
                formats, so you can make your own maps!
            {% endblocktrans %}
        </section>

        <section class="details-buttons hidden-print">
            <a href="#" class="btn btn-default btn-block export export-csv" data-baseurl="{% url "lots:csv" %}?">
                {% trans "spreadsheet" %}
            </a>
            <a href="#" class="btn btn-default btn-block export export-geojson" data-baseurl="{% url "lots:geojson" %}?download=yes&">
                {% trans "GeoJSON" %}
            </a>
            <a href="#" class="btn btn-default btn-block export export-kml" data-baseurl="{% url "lots:kml" %}?">
                {% trans "KML" %}
            </a>
        </section>
    </div>
</div>

<div class="overlaymenu overlaymenu-admin">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>

    <div class="overlaymenu-menu-content">
        <section>
            <a class="admin-button-email btn btn-default btn-block">
                {% trans "email organizers" %}
            </a>
            <a class="admin-button-add-lot btn btn-default btn-block">
                {% trans "add lot" %}
            </a>
        </section>
    </div>
</div>

<div class="overlaymenu overlaymenu-filter">
    {% include "livinglots/lots/filters.html" %}
</div>

<div class="overlaymenu overlaymenu-news">
    <div class="overlaymenu-tip-container">
        <div class="overlaymenu-tip"></div>
    </div>
    <div class="overlaymenu-menu-content">
        <div class="activity-stream-section map-sidebar-section">
            <h2>{% trans "Recent Activity" %}</h2>
            <div class="activity-stream"></div>
        </div>
    </div>
</div>

<div class="map-printable-details visible-print"></div>
