.leaflet-container {
    font-family: @body-font-family;

    a {
        color: @link-color;
    }

    .btn {
        color: @btn-default-color;
    }
}

.leaflet-control-loading {
    background-image: data-uri("../img/loading.gif");
}
