.leaflet-container {
    font-family: @body-font-family;

    a {
        color: @link-color;
    }

    .btn {
        color: @btn-default-color;
    }

    .leaflet-control-attribution {
        background: fadeout(white, 5%);
        font-size: 12px;
        padding: 4px;
    }
}

.leaflet-control-zoom {
    a {
        color: @foreground-color;
    }
}

.leaflet-control-loading {
    background-image: data-uri("../img/loading.gif");
}
