{% extends "base.html" %}
{% load files_tags flatblock_tags i18n inplace_tags notes_tags organize_tags steward_tags pathways_tags photos_tags %}

{% block title %}
    {{ lot.display_name|title|default:"unknown" }} |
    {% trans "SITE NAME" %}
{% endblock %}

{% block body_class %}lot-detail-page{% endblock %}

{% block breadcrumbs_wrapper %}
{% endblock %}

{% block messages %}
{% endblock %}

{% block pre_content %}
    <div class="lot-detail-header-image" 
        data-lat="{{ lot.centroid.y }}"
        data-lon="{{ lot.centroid.x }}"
    >
        <div class="lot-detail-header-streetview-error alert alert-warning">
            {% trans "Sorry, we could not load streetview imagery for this lot." %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="lot-detail-map-container row">
        <div class="col-md-3">
            <a href="/#18/{{ lot.centroid.y|floatformat:"4" }}/{{ lot.centroid.x|floatformat:"4" }}">
                <div id="lot-detail-map"
                    data-l-zoom="16" 
                    data-l-center="[{{ lot.centroid.y }}, {{ lot.centroid.x }}]"
                    data-l-bbox="{{ lot.bbox }}"
                    data-l-zoom-control="false"
                    data-l-lotsurl="{% inplace_setting LOT_POLYGONS_URL %}"
                    data-l-lot-pk="{{ lot.pk }}"
                ></div>
            </a>
        </div>

        <div class="col-md-9">
            <h1>
                {{ lot.display_name|default:"unknown" }}
            </h1>
        </div>
    </div>


    <div class="lot-detail-actions">
        {% if "lots.change_lot" in perms %}
            <a class="btn btn-small btn-warning" href="{% url "admin:lots_lot_change" lot.pk %}">
                <i class="icon-edit icon-white"></i>
                {% trans "Edit this lot" %}
            </a>
        {% endif %}

        <a class="btn btn-default build-community-button lot-page-tooltip" href="{% url "organize:add_organizer" pk=lot.pk %}" data-toggle="tooltip" title="{% trans "Get involved with this lot or let people know you are already working towards growing community here." %}">
            {% trans "Organize" %}
        </a>

        {% if lot.nearby %}
            <a class="btn btn-default overlay-nearby-button">
                {% trans "Find lots nearby" %}
            </a>
        {% endif %}

        {% if not lot.known_use %}
            <a class="btn btn-default lot-page-tooltip" href="{% url "steward:add_stewardnotification" pk=lot.pk %}" data-toggle="tooltip" title="{% trans "Tell us more about your project." %}">
                {% trans "Is this an active project?" %}
            </a>

            <a class="btn btn-default lot-page-tooltip" href="{% url "groundtruth:add_groundtruthrecord" pk=lot.pk %}" data-toggle="tooltip" title="{% trans "Let us know that this lot's actual use is not correctly identified." %}">
                {% trans "Have we made a mistake?" %}
            </a>
        {% endif %}
    </div>

    <div class="lot-detail-main">

        {% include "_messages.html" %}

        <div class="lot-detail-info-box">
            {% include "inplace/lots/_lot_detail_info.html" with lot=lot %}

            {% ifequal lot.owners|length 1 %}
                {% include "inplace/lots/_lot_detail_owner.html" with owner=lot.owners.0 owner_contact=lot.owner_contacts.0 %}
            {% endifequal %}

            {% include "inplace/lots/_lot_detail_reasons.html" with lot=lot %}
        </div>

        {% get_steward_project_list for lot as stewards %}
        {% if stewards %}
            {% include "inplace/lots/_lot_detail_stewardproject.html" with steward=stewards.0 %}
        {% elif lot.lotgroup %}
            {% get_steward_project_list for lot.lotgroup as stewards %}
            {% if stewards %}
                {% include "inplace/lots/_lot_detail_stewardproject.html" with steward=stewards.0 %}
            {% endif %}
        {% endif %}

        {% if "lots.view_all_details" in perms %}
            <div class="lot-detail-details lot-detail-main-section">
                <h2>{% trans "Admin Details" %}</h2>
                <div class="help-text">(This section is only visible to admins.)</div>

                {% if stewards %}
                    {% trans "steward's land tenure" %}:
                    {{ stewards.0.land_tenure_status }}
                {% endif %}
            </div>
        {% endif %}

        {% if not lot.known_use %}
            <div id="pathways" class="pathways lot-detail-main-section">
                <h2>
                    {% trans "Pathways" %}
                </h2>
                <div>
                    {% blocktrans %}
                        Here are some pathways you might follow to use this piece of land legally:
                    {% endblocktrans %}
                    {% render_pathway_summary_list for lot %}
                </div>
            </div>
        {% endif %}

        <div id="notes" class="notes lot-detail-main-section">
            <h2>
                {% trans "Notes" %}
            </h2>
            <a class="btn btn-default" href="{% url "usercontent:add_note" pk=lot.pk %}">
                {% trans "Add your note" %}
            </a>
            {% render_note_list for lot %}
        </div>

        <div id="files" class="files lot-detail-main-section">
            <h2>
                {% trans "Files" %}
            </h2>
            <a class="btn btn-default" href="{% url "usercontent:add_file" pk=lot.pk %}">
                {% trans "Add a file" %}
            </a>
            {% render_file_list for lot %}
        </div>

    </div>
{% endblock %}

{% block sidebar %}
    <aside id="aside-right" class="col-sm-3">

        <section class="lot-detail-side-section photos">
            <h2>{% trans "Photos" %}</h2>
            <div class="photos-actions">
                <a class="btn btn-default" href="{% url "usercontent:add_photo" pk=lot.pk %}">
                    {% trans "Submit a photo" %}
                </a>
            </div>
            {% render_photo_list for lot %}
        </section>

        <section class="lot-detail-organizers">
            {% get_organizer_count for lot as organizer_count %}
            <h2>Number of organizers: {{ organizer_count }}</h2>
            <div>
                <section class="lot-detail-organizer-intro">
                    <h3>Hey organizers!</h3>
                    {% flatblock "lot-detail-organizer-intro" %}
                </section>
                {% render_organizer_list for lot %}
            </div>
        </section>
    </aside>

    {% if lot.nearby %}
        <div class="overlaymenu overlaymenu-nearby">
            <div class="overlaymenu-tip-container">
                <div class="overlaymenu-tip"></div>
            </div>

            <div class="overlaymenu-menu-content">
                <ul class="nearby-lots-list">
                    {% for nearby in lot.nearby %}
                        <li class="nearby-lots-list-item">
                            <a href="{{ nearby.get_absolute_url }}">
                                {{ nearby.display_name }}
                            </a>
                            {% if "lots.change_lot" in perms %}
                            <a class="btn btn-sm btn-warning btn-add-to-group" data-lot="{{ lot.pk }}" data-lot-to-add="{{ nearby.pk }}" href="#">
                                    {% trans "Group with this lot" %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
